.speedometer-bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #07080c;
  padding: 1.5rem;
  font-family: 'Roboto';
}

.speedometer-header {
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
}

.speedometer-img {
  width: 80vw;
}

.speed-indicator {
  font-size: 1.5rem;
  color: #ffffff;
}

.speed-limit-description {
  font-size: 0.8rem;
  color: #cbd5e1;
  margin-bottom: 3rem;
}

.speed-controls-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.speed-control-button {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 0.8rem;
}

.accelerate-button {
  color: #ffffff;
  background-color: #0b69ff;
}

.apply-brake-button {
  color: #94a3b8;
  background-color: transparent;
  border: 0.1rem solid #94a3b8;
}

@media (min-width: 768px) {
  .speedometer-header {
    font-size: 3.5rem;
  }

  .speed-limit-description {
    font-size: 1rem;
  }

  .speedometer-img {
    width: 50vw;
  }

  .speed-control-button {
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    font-size: 0.75rem;
  }
}
